.about-author.section
  ._wrap.wrap
    ._title Ведущий мастер-класса:
    ._content
      ._text
        ._name АЛЕКСАНДР ВЫСОЦКИЙ
        ._list
          ._list-item Основатель и владелец консалтинговой компании 
            spam.text-bold.-white Visotsky Consulting с 6 филиалами  
            | в СНГ, США (Нью-Йорк) и на острове Тайвань
          ._list-item Создал консалтинговый проект по систематизации бизнеса, который за 
            spam.text-bold.-white  10 лет 
            | прошло 
            spam.text-bold.-white более 2000 предпринимателей
          ._list-item Гуру системного бизнеса — Спикер и вдохновитель, его семинары посетили <br>
            spam.text-bold.-white более 130 000 владельцев бизнеса 
            | и высших руководителей по всему СНГ 
          ._list-item Наладил бизнес-процессы и внедрил инструменты стратегического и оперативного управления в нескольких сотнях компаний, 
            spam.text-bold.-white обучил более 2000 владельцев
          ._list-item 
            spam.text-bold.-white Автор 4 книг-бестселлеров 
            | о системе управления и обязанностях владельца, а также публикаций в блоге журнала Forbes.
        button(type='submit').btn._btn Cкачать пособие и получить приглашение
      ._photo
        img(src="img/photo.png", alt="alt")