.footer.section
  ._wrap.wrap
    ._logo
      +icon('footer-logo')
    ._box
      ._info
        ._info-text © Business Booster, 2018–2019   
        ._line
        ._info-text Все права защищены  
      ._documents
        a(href="#", title="title")._documents-item Политика конфиденциальности  
        ._line.-blue
        a(href="#", title="title")._documents-item Договор оферты
