.banner.section
  ._wrap.wrap
    ._logo
      +icon('logo')
    ._content
      ._text
        .text-title.-white._title Освободитесь от бизнес-рутины и масштабируйте свою компанию
        .descr.-white._descr Скачайте пошаговый план выхода из операционки и узнайте как построить систему в собственном бизнесе!
        button._btn.btn Cкачать пособие и получить приглашение
        .descr.-gray._info Ответьте на 7 простых вопросов, чтобы узнать как масштабировать свой бизнес и получите приглашение на закрытый мастер-класс для <br class="banner__br"> собственников бизнеса:
        .text-title.-purple._slogan «Бизнес-трансформация: из <br class="banner__br"> хаоса в бизнес-систему»
        ._schedule
          +svg('calendar', 'banner__calendar-svg')
          ._schedule-text который пройдет завтра в 17:15
      ._img
        img(src="img/book.png", alt="alt")._img-book
    
