doctype html
html
    include ../elements/head/head
    +head('Page title', 'Page description', 'Page keywords')
    body
        include ../elements/banner/banner
        include ../elements/about-author/about-author
        include ../elements/benefits/benefits
        include ../elements/footer/footer

        script(src="js/libs.min.js")
        script(src="js/custom.js")