.thanks-page {
  .banner {
    background: url(img/thanks-page-banner-bg.png)no-repeat center/cover;

    &__text {
      padding: 65px 0 0 0;

      @media(max-width: 768px) {
        padding: 40px 0 0 0;
      }
    }

    &__info {
      max-width: 670px;
      width: 100%;
      margin: 30px 0 0 0;

      @media(max-width: 768px) {
        margin: 10px 0 0 0;
      }
    }

    &__slogan {
      margin: 30px 0 0 0;

      @media(max-width: 768px) {
        margin: 10px 0 0 0;
      }
    }

    &__schedule {
      margin: 30px 0 0 0;

      @media(max-width: 768px) {
        margin: 10px 0 0 0;
      }
    }

    &__descr {
      margin: 85px 0 0 0;
      max-width: 600px;
      width: 100%;
      color: #e3e3e3;

      @media(max-width: 768px) {
        margin: 30px 0 0 0;
      }
    }
  }


}