.banner.section
  ._wrap.wrap
    ._logo
      +icon('logo')
    ._content
      ._text
        .text-title.-white._title Спасибо за ответы! 
        .descr.-gray._info Как владельцу масштабировать свой бизнес? Как систематизировать процессы и выйти из операционки? <br class="banner__br"> Ответы на эти вопросы вы получите на мастер-классе А. Высоцкого:
        .text-title.-purple._slogan «Бизнес-трансформация: <br class="banner__br"> из хаоса в бизнес-систему» 
        ._schedule
          +svg('calendar', 'banner__calendar-svg')
          ._schedule-text   Ждем вас завтра в 17:15 по Москве!
        .descr.-white._descr Приглашение и PDF-пособие уже отправлены на почту. Заходите с компьютера или ноутбука, чтобы получить все ценные материалы, а также задать вопросы в чате! С мобильной версии функционал будет ограничен.
      ._img
        img(src="img/book.png", alt="alt")._img-book