.benefits.section
  ._wrap.wrap
    ._title О пособии
    ._subtitle 
      span.text-bold.-black «Как собственнику выйти из операционки» <br class="benefits-br">
      | Это пошаговый план из 10 пунктов к созданию системного бизнеса
    ._list-title Вы узнаете, как:
    ._list
      ._list-item
        ._img
          img(src="img/statistics.png", alt="alt")
        ._list-item-text Внедрить расширенные статистики и добиться, <br class="benefits-br"> чтобы сотрудники вели их.

      ._list-item
        ._img
          img(src="img/key-statistics.png", alt="alt")
        ._list-item-text  Определить 
          span.text-bold.-black ключевые статистики 
          | и использовать их.

      ._list-item
        ._img
          img(src="img/delegations.png", alt="alt")
        ._list-item-text 
          span.text-bold.-black Выйти из операционной деятельности 
          | за счет Формулы правильного делегирования.

      ._list-item
        ._img
          img(src="img/base.png", alt="alt")
        ._list-item-text Заложить здоровый фундамент для вашего бизнеса и определиться с ценным <br class="benefits-br"> конечным продуктом компании.

      ._list-item
        ._img
          img(src="img/organizing-scheme.png", alt="alt")
        ._list-item-text Разработать и 
          span.text-bold.-black внедрить организующую схему 
          | компании, сформировать должностные обязанности и распределить их по сотрудникам.
    ._text Превратите ваш бизнес в стабильно работающую систему, которая растет и приносит доход без оперативного участия собственника!
    button(type='submit').btn._btn Это то, что нужно!
